/***/

cite{
  font-style: normal;
}
.header{
  height: 60px;
  width: 100%;
  background-color: #fff;
  line-height: 60px;
  color: #000000;
  border-bottom: solid 5px #009688;
}

.header >h1{
  height: 60px;
  width: 150px;
  margin-left: 20px;
  font-size: 20px;
  font-family: '微软雅黑';
  font-weight: normal;
  line-height: inherit;
}
.ity-content{
  width: 100%;
  height: auto;
}
.ity-content-left{
  width:200px;
  float: left;
  background-color: #393D49;
  height: 600px;
  border-right: 2px solid #009688;
}
.ity-content-right{
  margin-left: 200px;
  height: 400px;
}
.ity-side-scroll{
  width: 100%;
}
.ity-nav{
  width: 100%;
  font-family: '微软雅黑';
  font-size:14px;
  height: 100%;
  background-color: #393D49;
}
.ity-nav .ity-nav-item{
  width: 100%;
  color: #fff !important;
}
.ity-nav-child a:hover{
  background-color: #009688 !important;
}
.ity-nav-item-title{
  display: block;
  height: 45px;
  padding: 0 20px;
  line-height: 45px;
  color: #fff !important;
}
.ity-nav-item-title >cite{
  padding: 0 10px;
  color: #fff !important;
}

.ity-nav-item-title>.ity-sort{
  float: right;
  line-height: 45px;
}
.ity-nav-child{
  width: 100%;
  height: auto;
}
.ity-nav-child a {
  display: block;
  height: 45px;
  padding: 0 30px;
  line-height: 45px;
  color: #c2c2c2;
  font-style: normal;
}


.ity-contetn{
  width: 100%;
}
.ity-contetn-ul{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #009688;
}

.ity-content-li{
  display: inline-block;
  line-height: 40px;
  min-width: 65px;
  padding: 0 10px;
}
.ity-content-li:hover{
  background-color:  #009688;
  color: #fff;
}
.ity-content-li .ity-close{
  padding-left: 10px;
  cursor: pointer;
}
.ity-sel{
  background-color:  #009688;
  color: #fff;
}
