<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <title></title>
    <link rel="stylesheet" href="./static/css/reset.css">
    <link rel='stylesheet' id='fontello-css' href='/static/font-awesome-4.7.0/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel="stylesheet" href="./static/css/style.css">
  <link href="/Public/resource/css/Admin/Login.e254554c423fc0d87d54f0b100bb97b8.css" rel="stylesheet"></head>
  <body style="background-color:#5D92BA">
    <app><app>
    <script type='text/javascript' src='/static/js/jquery-3.1.1.min.js'></script>
  <script type="text/javascript" src="/Public/resource/js/manifest.7c559cbaf576b07632c1.js"></script><script type="text/javascript" src="/Public/resource/js/vendor.08958a8a5cd5e8493b53.js"></script><script type="text/javascript" src="/Public/resource/js/Admin/Login.bb6debec5eeb3477b000.js"></script></body>
</html>
